<div class="container home_page">

	<div class="row">
		<div class="jumbotron">
			<h1>Welcome to Curtis's Blogging Tool</h1>
		</div>
	</div>


<% if logged_in? %>
	<h3>Welcome back <%= current_user.name %> </h3>
		<p><%= link_to 'Sign out', signout_path, method: :delete %></p>
		<p><%= link_to 'View your posts', articles_for_user_path(current_user) %></p>
		<%= submit_tag 'View All', class: 'btn btn-primary' %>
			
<% else %>

<%= form_tag signin_path do %>

<h3>In order to view blog articles, you must sign in.</h3>
	<%= label_tag 'session[Email]', 'Email' %>
	<%= text_field_tag 'session[email]', nil, class: 'form-control' %> </br>
	
	<%= label_tag 'session[password]', 'Password' %>
	<%= password_field_tag 'session[password]', nil, class: 'form-control' %> </br>
	
	<%= submit_tag 'Sign in', class: 'btn btn-primary' %>



<% end %>
<p>Don't have an account? <%= link_to 'Sign up', signup_path %> </p> 
<% end %>




